target/
.project
target/classes
target/classes/
test/reports
*.class
prodDb*.log
prodDb*
*.orig
*.*~
*~
*classpath*
*project*
.settings
*stacktrace.log*
*.war
*.zip
*.tar.gz
*.rar
*.amazonaws.com
web-app/WEB-INF/classes

devDbVip.log
devDbVip.properties
devDbVip.script
testDbVip.log
testDbVip.properties
testDbVip.script
nohup.out
cobertura.ser
BKPdevDbVip.*
*.epf
*.log
*.patch
login.toDelete